<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Disclaimer</title>
    <link rel="icon" href="icon.jpg" type="image/jpr">
    <link href="https://fonts.googleapis.com/css?family=Hind+Guntur" rel="stylesheet">
    <style>
        body
        {
            color: black;
            font-family: 'Hind Guntur', sans-serif;
            font-size: 25pt;
            text-align: center;
        }
    </style>
</head>
<body>
<p>
    This site is meant to allow people to drop off edible but unwanted food so that those who are not fortunate
    enough to be able to afford food can eat with dignity. Do not drop off and log food that is unfit for human
    consumption. Additionally, those who chose to eat food found through this site do so at their own risk. Exercise
    common sense in choosing what to eat and in where you go to retrieve it. By clicking the button below, you agree
    that Froodie is not liable for any damages or injuries resulting from the use of this webapp.
</p>
<a href="/home"><img src="https://snag.gy/TUAbEi.jpg" alt = "Home" style="border-radius:50% "; width="300px" height="300px"></a>
</body>
</html>
