<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Froodie: Want Food</title>
    <link rel="icon" href="https://snag.gy/F9plqj.jpg" type="image/jpr">
    <link href="https://fonts.googleapis.com/css?family=Hind+Guntur" rel="stylesheet">
    <style>
        body
        {
            color: black;
            font-family: 'Hind Guntur', sans-serif;
            font-size: 30pt;
            text-align: center;
        }
    </style>
</head>
<body>
<h1>Food Locations</h1>
<img src= "{{ source }}" alt = "Map of locations with food" height="300px" width = "600px">
<br>
<a href="/"><img src="https://snag.gy/TUAbEi.jpg" alt = "Home" style="border-radius:50% "; width="300px" height="300px"></a>
</body>
</html>